<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.umd.cs.findbugs.plugin.eclipse.findbugsQuickFixes">
      <quickFix
            class="quickfix.LiteralStringComparisonResolution"
            label="Swap string variable and string literal"
            pattern="LSC_LITERAL_STRING_COMPARISON">
      </quickFix>
      
      <quickFix
      		arguments="isName=false"
            class="quickfix.CharsetIssuesResolution"
            label="Replace with StandardCharset.YYY"
            pattern="CSI_CHAR_SET_ISSUES_USE_STANDARD_CHARSET">
      </quickFix>
      
      <quickFix
            arguments="isName=true"
            class="quickfix.CharsetIssuesResolution"
            label="Replace with StandardCharset.YYY.name()"
            pattern="CSI_CHAR_SET_ISSUES_USE_STANDARD_CHARSET_NAME">
      </quickFix>
      
      <quickFix
            class="quickfix.IsNANResolution"
            label="Replace with YYY"
            pattern="FE_TEST_IF_EQUAL_TO_NOT_A_NUMBER">
      </quickFix>
      
      <quickFix
            class="quickfix.IsNANResolution"
            label="Replace with YYY"
            pattern="SPP_USE_ISNAN">
      </quickFix>
      
      <quickFix
      		arguments="useConstructor=false"
            class="quickfix.BigDecimalResolution"
            label="Replace with BigDecimal.valueOf(double)"
            pattern="DMI_BIGDECIMAL_CONSTRUCTED_FROM_DOUBLE">
      </quickFix>
      
      <quickFix
      		arguments="useConstructor=true"
            class="quickfix.BigDecimalResolution"
            label="Replace with new BigDecimal(String)"
            pattern="DMI_BIGDECIMAL_CONSTRUCTED_FROM_DOUBLE">
      </quickFix>
      
      <quickFix
      		arguments="useConstructor=false"
            class="quickfix.BigDecimalResolution"
            label="Replace with BigDecimal.valueOf(double)"
            pattern="SPP_USE_BIGDECIMAL_STRING_CTOR">
      </quickFix>
      
      <quickFix
      		arguments="useConstructor=true"
            class="quickfix.BigDecimalResolution"
            label="Replace with new BigDecimal(String)"
            pattern="SPP_USE_BIGDECIMAL_STRING_CTOR">
      </quickFix>
      
      <quickFix
      		arguments="replaceAll=false"
            class="quickfix.SQLOffByOneResolution"
            label="Change this index to 1 instead of 0"
            pattern="SQL_BAD_RESULTSET_ACCESS">
      </quickFix>
      
      <quickFix
      		arguments="replaceAll=true"
            class="quickfix.SQLOffByOneResolution"
            label="Increment this and all following indices by 1"
            pattern="SQL_BAD_RESULTSET_ACCESS">
      </quickFix>
      
      <quickFix
      		arguments="replaceAll=false"
            class="quickfix.SQLOffByOneResolution"
            label="Change this index to 1 instead of 0"
            pattern="SQL_BAD_PREPARED_STATEMENT_ACCESS">
      </quickFix>
      
      <quickFix
      		arguments="replaceAll=true"
            class="quickfix.SQLOffByOneResolution"
            label="Increment this and all following indices by 1"
            pattern="SQL_BAD_PREPARED_STATEMENT_ACCESS">
      </quickFix>
      
      
   </extension>

</plugin>
