<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.umd.cs.findbugs.plugin.eclipse.findbugsQuickFixes">
      <quickFix
            class="quickfix.LiteralStringComparisonResolution"
            label="Swap string variable and string literal"
            pattern="LSC_LITERAL_STRING_COMPARISON">
      </quickFix>
      
      <quickFix
      		arguments="isName=false"
            class="quickfix.CharsetIssuesResolution"
            label="Replace with StandardCharset.YYY"
            pattern="CSI_CHAR_SET_ISSUES_USE_STANDARD_CHARSET">
      </quickFix>
      
      <quickFix
            arguments="isName=true"
            class="quickfix.CharsetIssuesResolution"
            label="Replace with StandardCharset.YYY.name()"
            pattern="CSI_CHAR_SET_ISSUES_USE_STANDARD_CHARSET_NAME">
      </quickFix>
      
      <quickFix
            class="quickfix.IsNANResolution"
            label="Replace with call to isNAN()"
            pattern=" FE_TEST_IF_EQUAL_TO_NOT_A_NUMBER">
      </quickFix>
      
      <quickFix
            class="quickfix.IsNANResolution"
            label="Replace with call to isNAN()"
            pattern="SPP_USE_ISNAN">
      </quickFix>
   </extension>

</plugin>
